<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <meta charset="utf-8">
</head>
<body background=/templates/background.png
      style="color:171738">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
<!-- JavaScript Bundle with Popper -->
<nav class="navbar sticky-top navbar-dark bg-dark">
    <form>
        <button type="submit"
                class="btn btn-outline-light"
                style="color:#DFF3E4; border: 3px solid #DFF3E4; margin: 10px "
                th:action="@{visitor/eventList}">Sign In
        </button>
    </form>
</nav>
<div style="margin: 170px;
     border: 3px solid white;
     padding: 10px;">
    <form
            method="post"
            role="form"
            action="#"
            th:action="@{register/save}"
            th:object="${user}">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div style="margin: 10px;
                        text-align: center;
                        padding: 10px;">
                        <div>
                            <img src="logo.png" alt="Bootcamp" style="width:100%; height:100%">
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div id="login" style="margin: 10px;
                            text-align: center;
                            border: 3px solid white;
                            padding: 10px;">
                        <section class="loginSection">
                            <div id="username-wasValid" class="was-validatedform">

                                <div class="input-group input-group-sm mb-3">
                                    <span class="input-group-text" id="inputGroup-username">Username</span>

                                    <input style="background-color:#DFF3E4; opacity:0.5; color:171738;"
                                           class="form-control"
                                           id="username"
                                           name="username"
                                           placeholder="Enter username"
                                           th:field="*{username}"
                                           type="text"
                                           required/>
                                </div>
                                <div class="invalid-feedback">
                                    Please choose a username.
                                </div>
                            </div>
                            <div class="was-validatedform">
                                <div class="input-group input-group-sm mb-3">
                                    <span class="input-group-text" id="inputGroup-password">Password</span>
                                    <input
                                            style="background-color:#DFF3E4; opacity:0.5; color:171738;"
                                            class="form-control"
                                            id="password"
                                            name="password"
                                            placeholder="Enter password"
                                            th:field="*{password}"
                                            type="password"
                                            required/>
                                </div>
                                <div class="invalid-feedback">
                                    Please complete your password.
                                </div>
                            </div>
                            <div>
                                <div class="was-validatedform">
                                    <select class="form-select form-select-sm mb-3"
                                            aria-label=".form-select-lg example"
                                            id="role"
                                            name="role"
                                            style="background-color:#DFF3E4; opacity:0.5; color:171738;"
                                            th:field="*{role}"
                                            required>
                                        <option selected value="role" style="color:#171738">Role</option>
                                        <option style="color:#171738"
                                                th:each="role : ${T(com.accenture.eventbuddy.auth.UserRole).values()}"
                                                th:value="${role}"
                                                th:text="${role}"></option>
                                    </select>
                                    <div class="invalid-feedback">
                                        Please set your role.
                                    </div>
                                </div>
                            </div>
                        </section>

                        <section class="visitorSection">
                            <h1 style="color:#DFF3E4;">If you are a visitor, fill this:</h1>
                            <div class="was-validatedform">

                                <div class="input-group input-group-sm mb-3">
                                    <span class="input-group-text" id="inputGroup-visitorName">Name</span>
                                    <input
                                            style="background-color:#DFF3E4; opacity:0.5; color:171738;"
                                            class="form-control"
                                            id="visitorName"
                                            name="visitorName"
                                            placeholder="Enter Your name"
                                            th:field="*{visitor.visitorName}"
                                            type="text"
                                            required/>
                                </div>
                                <div class="invalid-feedback">
                                    Please input your name.
                                </div>
                            </div>
                            <div class="was-validatedform">
                                <div class="input-group input-group-sm mb-3">
                                    <span class="input-group-text" id="inputGroup-surname">Surname</span>

                                    <input
                                            style="background-color:#DFF3E4; opacity:0.5; color:171738;"
                                            class="form-control"
                                            id="visitorSurname"
                                            name="visitorSurname"
                                            placeholder="Enter Your surname"
                                            th:field="*{visitor.visitorSurname}"
                                            type="text"
                                            required/>
                                </div>
                                <div class="invalid-feedback">
                                    Please input your Surname.
                                </div>
                            </div>

                            <div class="was-validatedform">

                                <div class="input-group input-group-sm mb-3">

                                    <span class="input-group-text" id="inputGroup-visitorEmail">Email</span>

                                    <input
                                            style="background-color:#DFF3E4; opacity:0.5; color:171738;"
                                            class="form-control"
                                            id="visitorEmail"
                                            name="visitorEmail"
                                            placeholder="Enter e-mail"
                                            th:field="*{visitor.visitorEmail}"
                                            type="email"
                                            required/>
                                </div>
                                <div class="invalid-feedback">
                                    Please input your email.
                                </div>
                            </div>
                            <div class="was-validatedform">
                                <div class="input-group input-group-sm mb-3">
                                            <span class="input-group-text"
                                                  id="inputGroup-description">Description</span>

                                    <input
                                            style="background-color:#DFF3E4; opacity:0.5; color:171738;"
                                            class="form-control"
                                            id="visitorDescription"
                                            name="visitorDescription"
                                            placeholder="Enter description"
                                            th:field="*{visitor.visitorDescription}"
                                            type="text"
                                            required/>
                                </div>
                            </div>
                            <div class="was-validatedform">
                                <div class="select">
                                    <select id="gender" class="form-select form-select-sm mb-3"
                                            aria-label=".form-select-lg example"
                                            style="background-color:#DFF3E4; opacity:0.5; color:171738;">
                                        <option selected value="gender">Gender</option>
                                        <option th:each="gender : ${T(com.accenture.eventbuddy.models.Gender).values()}"
                                                th:value="${gender}"
                                                th:text="${gender}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="was-validatedform">
                                <div class="select">
                                    <select id="language" class="form-select form-select-sm mb-3"
                                            aria-label=".form-select-lg example"
                                            style="background-color:#DFF3E4; opacity:0.5; color:171738;">
                                        <option selected value="language">Gender</option>
                                        <option th:each="gender : ${T(com.accenture.eventbuddy.models.Language.values()}"
                                                th:value="${language}"
                                                th:text="${language}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div style="margin: 10px;"><h4
                                            style=" font-weight : bold; color:#DFF3E4; text-align : right;">Date
                                        of Birth</h4>
                                    </div>
                                </div>
                                <div class="col">
                                    <div style="margin: 10px;">
                                        <div class="input-block">
                                            <div class="col-5">
                                                <div>
                                                    <input type="date"
                                                           value="2018-07-22"
                                                           max="2016-12-31"
                                                           id="dateOfBirth"
                                                           name="dateOfBirth"
                                                           width="40px"
                                                           placeholder="Enter Your date of birth"
                                                           th:field="*{visitor.dateOfBirth}"
                                                           required
                                                    />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="organizerSection">
                            <div>
                                <h1 style="color:#DFF3E4;">If you are an organizer, fill this:</h1>
                            </div>
                            <div class="was-validatedform">
                                <div class="input-group input-group-sm mb-3">
                                    <span class="input-group-text">Name</span>
                                    <input
                                            style="background-color:#DFF3E4; opacity:0.5; color:171738;"
                                            class="form-control"
                                            id="organizerName"
                                            name="organizerName"
                                            placeholder="Enter organization name"
                                            th:field="*{organizer.organizerName}"
                                            type="text"
                                            required/>
                                    <div class="invalid-feedback">
                                        Please input your email.
                                    </div>
                                </div>
                            </div>
                            <div class="was-validatedform">
                                <div class="input-group input-group-sm mb-3">
                                    <span class="input-group-text">Email</span>
                                    <input
                                            style="background-color:#DFF3E4; opacity:0.5; color:171738;"
                                            class="form-control"
                                            id="organizerEmail"
                                            name="organizerEmail"
                                            placeholder="Enter e-mail"
                                            th:field="*{organizer.organizerEmail}"
                                            type="email"
                                            required/>
                                </div>
                                <div class="invalid-feedback">
                                    Please input your email.
                                </div>
                            </div>
                            <div class="was-validatedform">
                                <div class="input-group input-group-sm mb-3">
                                    <span class="input-group-text" id="inputGroup-phoneNumber">Phone Number</span>
                                    <input type="number"
                                           style="background-color:#DFF3E4; opacity:0.5; color:171738;"
                                           class="form-control"
                                           aria-label="Small"
                                           aria-describedby="inputGroup-sizing-sm"
                                           id="phoneNumber"
                                           placeholder="Enter phone number"
                                           th:field="*{organizer.phoneNumber}"
                                           required/>
                                </div>
                                <div class="invalid-feedback">
                                    Please input your phone number.
                                </div>
                            </div>
                        </section>
                        <div class="form-group">
                            <button type="submit"
                                    class="btn btn-outline-light"
                                    style="color:#DFF3E4; border: 3px solid #DFF3E4;">Register
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>