<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <meta charset="utf-8">
</head>
<body style="background-image: url('/assets/images/background.png');color:171738">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
<script type="text/javascript">
function check(){
    var val = document.getElementById('role').value;
    if(val=='ORGANIZER'){
        document.getElementById('visitorSec').style.display="none";
        document.getElementById('organizersSec').style.display="";
    }else if(val=='VISITOR'){
        document.getElementById('visitorSec').style.display="";
        document.getElementById('organizersSec').style.display="none";
    }else{
        document.getElementById('visitorSec').style.display="none";
        document.getElementById('organizersSec').style.display="none";
    }
}


</script>
<script type="text/javascript">
function validateOrganizer(){
        if(document.getElementById('organizerName').value=="" ||
            document.getElementById('organizerEmail').value=="" ||
            document.getElementById('phoneNumber').value==""){
                alert("Complete All fields");
                return false;
        }
        else{
            document.getElementById('registrationForm').setAttribute("th:action","@{register/saveOrganizer}");
            return true;
        }
}
</script>
<script type="text/javascript">
function validateVisitor(){
        if(document.getElementById('visitorName').value=="" ||
            document.getElementById('visitorSurname').value=="" ||
            document.getElementById('visitorDescription').value=="" ||
            document.getElementById('dateOfBirth').value=="" ||
            document.getElementById('gender').value=="" ||
            document.getElementById('language').value=="" ||
            document.getElementById('visitorEmail').value==""){
                alert("Complete All fields");
                return false;
        }
        else{
            document.getElementById('registrationForm').setAttribute("th:action","@{register/saveVisitor}");
            return true;
        }
}
</script>

<nav class="navbar sticky-top navbar-dark bg-dark">
    <form>
        <a type="submit"
           class="btn btn-outline-light"
           style="color:#DFF3E4; border: 3px solid #DFF3E4; margin: 10px "
           th:href="@{login}">Sign In
        </a>
    </form>
</nav>

<div class="container">
    <div class="row">
        <div style="margin: 70px;text-align:center;color:#DFF3E4;">
            <h1>Sign up to find an Event Buddy!<br>Already registered? Sign in by clicking the button above</h1>
        </div>
    </div>
</div>
<div style="margin: 170px;
     border: 3px solid white;
     padding: 10px;">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div style="margin: 10px;
                        text-align: center;
                        padding: 10px;">
                    <div>
                        <img th:src="@{/assets/images/logo.png}"
                             alt="Bootcamp" style="width:100%; height:100%">
                    </div>
                </div>
            </div>
            <div class="col">
                <div id="login" style="margin: 10px;
                            text-align: center;
                            border: 3px solid white;
                            padding: 10px;">
                    <div class="was-validated">
                        <select onchange="check()" class="form-select form-select-sm mb-3"
                                aria-label=".form-select-lg example"
                                id="role"
                                name="role"
                                style="background-color:#DFF3E4; opacity:0.5; color:171738;"
                                required>
                            <option selected value="role" style="color:#171738">Role</option>
                            <option style="color:#171738"
                                    th:each="role : ${T(com.accenture.eventbuddy.auth.UserRole).values()}"
                                    th:value="${role}"
                                    th:text="${role}"></option>
                        </select>
                        <div class="invalid-feedback">
                            Please set your role.
                        </div>
                    </div>
                    <!--55555555555555555555555555555555555555555555555555555555555555555555-->
                    <!--55555555555555555555555555555555555555555555555555555555555555555555-->
                    <div id="visitorSec" style="display:none">
                        <form id="registrationForm"
                              method="post"
                              role="form"
                              th:action="@{register/saveVisitor}"
                              th:object="${user}">
                            <h1 style="color:#DFF3E4;">If you are a visitor, fill this:</h1>
                            <div id="username-wasValid" class="was-validated">
                                <div class="input-group input-group-sm mb-3">
                                    <span class="input-group-text" id="inputGroup-username">Username</span>

                                    <input style="background-color:#DFF3E4; opacity:0.5; color:171738;"
                                           class="form-control"
                                           id="username"
                                           name="username"
                                           placeholder="Enter username"
                                           th:field="*{username}"
                                           type="text"
                                           required
                                    />
                                </div>
                                <div class="invalid-feedback">
                                    Please choose a username.
                                </div>
                            </div>
                            <div class="was-validated">
                                <div class="input-group input-group-sm mb-3">
                                    <span class="input-group-text" id="inputGroup-password">Password</span>
                                    <input
                                            style="background-color:#DFF3E4; opacity:0.5; color:171738;"
                                            class="form-control"
                                            id="password"
                                            name="password"
                                            placeholder="Enter password"
                                            th:field="*{password}"
                                            type="password"
                                            required
                                    />
                                </div>
                                <div class="invalid-feedback">
                                    Please complete your password.
                                </div>
                            </div>
                            <div>
                                <div class="was-validated" style="display:none">
                                    <select onchange="check()" class="form-select form-select-sm mb-3"
                                            aria-label=".form-select-lg example"
                                            id="roleVisitor"
                                            name="role"
                                            style="background-color:#DFF3E4; opacity:0.5; color:171738;"
                                            th:field="*{role}"
                                            required>
                                        <option selected value="VISITOR" style="color:#171738">VISITOR</option>
                                    </select>
                                    <div class="invalid-feedback">
                                        Please set your role.
                                    </div>
                                </div>
                            </div>
                            <div class="was-validated">
                                <div class="input-group input-group-sm mb-3">
                                    <span class="input-group-text" id="inputGroup-name">Name</span>
                                    <input
                                            style="background-color:#DFF3E4; opacity:0.5; color:171738;"
                                            class="form-control"
                                            id="visitorName"
                                            name="visitorName"
                                            placeholder="Enter Your name"
                                            th:field="*{name}"
                                            type="text"
                                    />
                                </div>
                                <div class="invalid-feedback">
                                    Please input your name.
                                </div>
                            </div>
                            <div class="was-validated">
                                <div class="input-group input-group-sm mb-3">
                                    <span class="input-group-text" id="inputGroup-surname">Surname</span>
                                    <input style="background-color:#DFF3E4; opacity:0.5; color:171738;"
                                           class="form-control"
                                           id="visitorSurname"
                                           name="visitorSurname"
                                           placeholder="Enter Your surname"
                                           th:field="*{surname}"
                                           type="text"
                                    />
                                </div>
                                <div class="invalid-feedback">
                                    Please input your Surname.
                                </div>
                            </div>

                            <div class="was-validated">

                                <div class="input-group input-group-sm mb-3">

                                    <span class="input-group-text" id="inputGroup-visitorEmail">Email</span>

                                    <input style="background-color:#DFF3E4; opacity:0.5; color:171738;"
                                           class="form-control"
                                           id="visitorEmail"
                                           name="visitorEmail"
                                           placeholder="Enter e-mail"
                                           th:field="*{email}"
                                           type="email"
                                    />
                                </div>
                                <div class="invalid-feedback">
                                    Please input your email.
                                </div>
                            </div>
                            <div class="was-validated">
                                <div class="input-group input-group-sm mb-3">
                                    <span class="input-group-text" id="inputGroup-description">Description</span>
                                    <input
                                            style="background-color:#DFF3E4; opacity:0.5; color:171738;"
                                            class="form-control"
                                            id="description"
                                            name="description"
                                            placeholder="Enter description"
                                            th:field="*{description}"
                                            type="text"
                                    />
                                </div>
                            </div>
                            <div class="was-validated">
                                <div class="select">
                                    <select id="gender" class="form-select form-select-sm mb-3"
                                            aria-label=".form-select-lg example"
                                            style="background-color:#DFF3E4; opacity:0.5; color:171738;"
                                            th:field="${user.gender}">
                                        <option selected value="gender">Gender</option>
                                        <option th:each="gender : ${T(com.accenture.eventbuddy.models.Gender).values()}"
                                                th:value="${gender}"
                                                th:text="${gender}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="was-validated">
                                <div class="select">
                                    <select id="language" class="form-select form-select-sm mb-3"
                                            aria-label=".form-select-lg example"
                                            style="background-color:#DFF3E4; opacity:0.5; color:171738;"
                                            th:field="*{language}">
                                        <option selected value="language">Language</option>
                                        <option th:each="language : ${T(com.accenture.eventbuddy.models.Language).values()}"
                                                th:value="${language}"
                                                th:text="${language}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div style="margin: 10px;">
                                        <h4 style=" font-weight : bold; color:#DFF3E4; text-align : right;">Date of
                                            Birth</h4>
                                    </div>
                                </div>
                                <div class="col">
                                    <div style="margin: 10px;">
                                        <div class="input-block">
                                            <div class="col-5">
                                                <div>
                                                    <input type="date"
                                                           value="2018-07-22"
                                                           max="2016-12-31"
                                                           id="dateOfBirth"
                                                           name="dateOfBirth"
                                                           width="40px"
                                                           placeholder="Enter Your date of birth"
                                                           th:field="${user.dateOfBirth}"
                                                    />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <button
                                        type="submit"
                                        onclick="return validateVisitor()"
                                        class="btn btn-outline-light"
                                        style="color:#DFF3E4; border: 3px solid #DFF3E4;">Register
                                </button>
                            </div>
                        </form>
                    </div>
                    <!--55555555555555555555555555555555555555555555555555555555555555555555-->
                    <!--55555555555555555555555555555555555555555555555555555555555555555555-->
                    <div id="organizersSec" style="display:none">
                        <form
                                method="post"
                                role="form"
                                th:action="@{register/saveOrganizer}"
                                th:object="${user}">
                            <h1 style="color:#DFF3E4;">If you are an organizer, fill this:</h1>
                            <div id="username-wasValidOrganizer" class="was-validated">
                                <div class="input-group input-group-sm mb-3">
                                    <span class="input-group-text" id="inputGroup-usernameOrganizer">Username</span>

                                    <input style="background-color:#DFF3E4; opacity:0.5; color:171738;"
                                           class="form-control"
                                           id="usernameOrganizer"
                                           name="username"
                                           placeholder="Enter username"
                                           th:field="*{username}"
                                           type="text"
                                           required
                                    />
                                </div>
                                <div class="invalid-feedback">
                                    Please choose a username.
                                </div>
                            </div>
                            <div class="was-validated">
                                <div class="input-group input-group-sm mb-3">
                                    <span class="input-group-text" id="inputGroup-passwordOrganizers">Password</span>
                                    <input
                                            style="background-color:#DFF3E4; opacity:0.5; color:171738;"
                                            class="form-control"
                                            id="passwordOrganizer"
                                            name="password"
                                            placeholder="Enter password"
                                            th:field="*{password}"
                                            type="password"
                                            required
                                    />
                                </div>
                                <div class="invalid-feedback">
                                    Please complete your password.
                                </div>
                            </div>
                            <div>
                                <div class="was-validated" style="display:none">
                                    <select onchange="check()" class="form-select form-select-sm mb-3"
                                            aria-label=".form-select-lg example"
                                            id="roleOrganizer"
                                            name="role"
                                            style="background-color:#DFF3E4; opacity:0.5; color:171738;"
                                            th:field="*{role}"
                                            required>
                                        <option selected value="ORGANIZER" style="color:#171738">ORGANIZER</option>
                                    </select>
                                    <div class="invalid-feedback">
                                        Please set your role.
                                    </div>
                                </div>
                            </div>
                            <div class="was-validated">
                                <div class="input-group input-group-sm mb-3">
                                    <span class="input-group-text">Name</span>
                                    <input
                                            style="background-color:#DFF3E4; opacity:0.5; color:171738;"
                                            class="form-control"
                                            id="organizerName"
                                            name="organizerName"
                                            placeholder="Enter organization name"
                                            th:field="*{name}"
                                            type="text"
                                    />
                                    <div class="invalid-feedback">
                                        Please input your email.
                                    </div>
                                </div>
                            </div>
                            <div class="was-validated">
                                <div class="input-group input-group-sm mb-3">
                                    <span class="input-group-text">Email</span>
                                    <input
                                            style="background-color:#DFF3E4; opacity:0.5; color:171738;"
                                            class="form-control"
                                            id="organizerEmail"
                                            name="organizerEmail"
                                            placeholder="Enter e-mail"
                                            th:field="*{email}"
                                            type="email"
                                    />
                                </div>
                                <div class="invalid-feedback">
                                    Please input your email.
                                </div>
                            </div>
                            <div class="was-validated">
                                <div class="input-group input-group-sm mb-3">
                                    <span class="input-group-text" id="inputGroup-phoneNumber">Phone Number</span>
                                    <input type="number"
                                           style="background-color:#DFF3E4; opacity:0.5; color:171738;"
                                           class="form-control"
                                           aria-label="Small"
                                           aria-describedby="inputGroup-sizing-sm"
                                           id="phoneNumber"
                                           placeholder="Enter phone number"
                                           th:field="*{phoneNumber}"
                                    />
                                </div>
                                <div class="invalid-feedback">
                                    Please input your phone number.
                                </div>
                            </div>
                            <div class="form-group">
                                <button
                                        type="submit"
                                        onclick="return validateOrganizer()"
                                        class="btn btn-outline-light"
                                        style="color:#DFF3E4; border: 3px solid #DFF3E4;">Register
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>