<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Visitor Profile</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

</head>
<body style="background-color:#7180B9; color:171738">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
<nav class="navbar navbar-dark bg-dark">
  <form>
    <a type="button"
       class="btn btn-outline-light"
       style="color:#DFF3E4; border: 3px solid #DFF3E4; margin: 10px "
       th:href="@{~/matches}">Matches
    </a>
    <a type="button"
       class="btn btn-outline-light"
       style="color:#DFF3E4; border: 3px solid #DFF3E4; margin: 10px "
       th:href="@{/event/{id}/eventList(id=${user})}">Events
    </a>
  </form>
</nav>
<section class="">
  <div class="container py-5 h-100" >
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-10 col-x1-4">

        <div class="card" style="border-radius: 15px;" >
          <div class="card-body text-center" style="
                 border: 3px solid white;background-color:#7180B9">
            <h4 style="color:#DFF3E4;" class="mb-2" th:text="${organizer.organizerName}">name</h4>
            <p class="text mb-4" style="color:#DFF3E4" th:inline="text">[[${organizer.user.username}]]<span class="mx-2">|</span>[[${organizer.organizerEmail}]]<span class="mx-2">|</span>[[${organizer.phoneNumber}]]</p>
            <div class="d-flex justify-content-center">
            </div>

<!--            <a type="button" class="btn btn-outline-light"-->
<!--               style="color:#DFF3E4; border: 3px solid #DFF3E4;"-->
<!--               th:href="@{/visitor/{id}/visitorProfile/edit(id=${user})}">-->
<!--              Edit-->
<!--            </a>-->
          </div>
        </div>
        <div class="row py-3" >
          <div class="col-md-0">
            <div class="card mb-1 mb-md-0">
              <div class="card-body" style="border: 3px solid white;background-color:#7180B9">
                <h5 class="card-title
                text-center" style="color:#DFF3E4">Events</h5>
                <ul class="list-group
                list-group-flush">
                  <li class="list-group
                    item" style="color:#DFF3E4" th:each="event : ${organizer.events}">
                    <p th:text="${event.name}">event name</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</section>
</body>
</html>